{{>layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-end mb-2">
        <form action="/" method="get" class="d-flex col-md-3">
            <input class="form-control me-2" type="text" placeholder="Search" name="title">
            <button class="btn btn-primary">Search</button>
        </form>
    </div>

    {{#model.contents}}

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title mb-3">{{title}}</h4>
                <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
            </div>
        </div>

    {{/model.contents}}

    <h1>{{model.number}}</h1>
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item"><a class="page-link" href="?page={{model.prev}}">Previous</a></li>
        {{#model.numbers}}
            <li class="page-item"><a class="page-link" href="?page={{.}}">{{.}}</a></li>
        {{/model.numbers}}

        <li class="page-item"><a class="page-link" href="?page={{model.next}}">Next</a></li>
    </ul>

</div>

{{>layout/footer}}