{{>layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>글수정하기 화면입니다</b></div>
        <div class="card-body">
            <form action="/api/board/{{model.id}}/update" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" name="title" value="{{model.title}}">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" name="content">{{model.content}}</textarea>
                </div>
                <button class="btn btn-primary form-control">글수정하기완료</button>
            </form>

        </div>
    </div>
</div>

{{>layout/footer}}